---
layout: page
title: "关于我"
description: "一生中最爱---明烟雨任"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <p>定风波</p>
    <blockquote>
        三月七日，沙湖道中遇雨。雨具先去，同行皆狼狈，余独不觉，已而遂晴，故作此词。
    </blockquote>
    <p>莫听穿林打叶声，何妨吟啸且徐行。竹杖芒鞋7轻胜马，谁怕？一蓑烟雨任平生。
    料峭春风吹酒醒，微冷，山头斜照却相迎。回首向来萧瑟处，归去，也无风雨也无晴</p>

    <p>我是潘明任，艺术名：明烟雨任，灵感源于“一蓑烟雨任平生”，改为“一明烟雨任平生”取其中四个字“明烟雨任”为我的艺术名。</p>
    <p><b>基本信息</b></p>
    <p>出生：1994-10-12</p>
    <p>毕业学校：云南大学滇池学院</p>
    <p>学历：本科</p>
    <p>专业：计算机科学与技术</p>
    <p>籍贯：广西</p>
    <p>现居：广东-深圳</p>
    <p>个人网站：ghubcherrylove.github.io</p>
    <hr>
    <p><b>联系方式</b></p>
    <p>手机：18124074540</p>
    <p>邮箱：741884588@qq.com</p>
    <p>地址：广东-深圳-宝安-后瑞</p>
    <hr>
    <p><b>掌握技能</b></p>
    <p>Bootstrap+less+vue.js：熟练</p>
    <p>easyui+d3.js + echarts.js + jquery：熟练</p>
    <p>redis + (c++) + STL + oracle：一般</p>
    <p>HTTP + CSS3 + HTML5：一般</p>
    <p>Git：一般</p>
    <p>Ps：熟练</p>
    <p>webpack：一般</p>
    <p>Firefox/chrome：熟练</p>
    <p>node.js/angularjs/react.js：了解</p>
    <hr>
    <p><b>个人简介</b></p>
    <p>计算机科学与技术专业，参加工作两年，开发2个大型项目的经验。项目与招商银行，华夏银行，广东省农村信用社等合作。熟悉并有开发经验javascript,jquery,d3.js,echart.js,bootstrap,easyui,redis,less,vue.js,oracle数据库,c++,等技术，有less自定义bootstrap并有项目经验，有firebox，chrome等调试工具解决问题的经验。有oracle数据库操作经验，有vue,bootstrap,less,redis等技术综合一起的项目开发经历。可以独立前端开发并可对后端（c++语言）一定的开发。对各浏览器的兼容性较好的解决能力。曾在设计公司工作过，对PS,AI等设计软件有较好的掌握能力，同时积累了团队合作经验。个人性格随和，责任心强。
    </p>
    <hr>
    <p><b>工作经历</b></p>
    <p>2016.06-2017.11</p>
    <p>深圳沃信科技有限公司</p>
    <p>&nbsp;&nbsp;担任web前端工程师。负责界面的用户体验提升和性能提升这两方面。从easyui替换到bootstrap，并less自定义样式，极大的美化界面样式和性能提升，从echart.js画图到使用d3.js数据举动画图，实现图表自控，更自由更生动的表达了产品的特性。同时也兼一部分c++后台开发，对前端与后台的数据流有比较清楚的认识。
    </p>
    <p>软件环境：ubuntu 12.04 ,vue.js,bootstrap,d3.js,less ,c++,redis,oracle，wireshark</p>
    <p>开发工具：VS CODE,SUBLIME TEXT 3，geany</p>
    <p>项目描述：X0透视认知系统为数据库中心的语句操作监控起到了故障定位节点故障定位，系统运行情况评估和趋势预测给出了一份详细的数据。该系统主要为招商银行，华夏银行，省农村信用社等数据库中心提供应用负载监控。X0应用系统根据TCP/IP协议传输过程中截取的DUMP报文包，通过实现三次握手协议对DUMP报文包建立连接下的请求应答对索引，为后续的组件NPsr提供了基础数据。然后通过报表程序查询索引获取数据传输到总线（redis），cgi程序回传服务器，服务器转发回界面，界面获取数据并对数据进行格式转换，并通过利用D3.JS,Echart.js等画图类库或框架实现图表展示到界面。</p>
    <p>2017.6-2017.11</p>
    <p>深圳沃信科技有限公司</p>
    <p>&nbsp;&nbsp;web前端工程师。负责界面的用户体验提升和性能提升这两方面。从easyui替换到bootstrap，并less自定义样式，极大的美化界面样式和性能提升，从echart.js画图到使用d3.js数据举动画图，实现图表自控，更自由更生动的表达了产品的特性。同时也兼一部分c++后台开发，对前端与后台的数据流有比较清楚的认识。</p>
    <p>软件环境：ubuntu 12.04 ,vue.js,bootstrap,d3.js,less ,c++,redis,oracle，wireshark</p>
    <p>开发工具：VS CODE,SUBLIME TEXT 3，geany</p>
    <p>项目描述：该项目是招行，华夏等银行特别订制的系统。为oracle，db2等数据里的日志进行复制并比对，为数据的无衔备份给出了可靠的解决方案。T3持续监测源数据库的交易变化，将这些数据从REDO LOG中读取，分析还原后，在目的数据库重做，从而完成概念上的交易复制工作。在满足基本复制功能外，数据库有一个最大的挑战---容灾恢复特性。T3需要满足在发生各种灾难级异常的情况下，能勾保证复制的可恢复性和数据的正确性。在T3长期发展过程中，发展了大量专利技术来达到这些要求。</p>
    <hr>
    <p><b>相关荣誉</b></p>
    <p>计算机二级证书</p>
    <p>机动车驾驶证</p>
    <p><b>兴趣爱好</b></p>
    <p>吉他/诗词/武侠</p>
</div>

<!-- English Version -->
<!-- <div class="en post-container">

</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
